.heading
{
    color:orange;
    font-size:32px;    
}
.details
{
    color: gray;
    font-size: 20px;
    line-height: 25px;
}
hr
{
    border-color:orange;
    color: orange;
    
}
.pageheader
{
    width:100%;
    height:100px;
    background-color: orange;
    color: white;
    font-size: 40px;
    text-align: center;
    align-content: center;
    box-shadow: 0px 0px 10px red;
    border-bottom:  1px solid red;
    margin-bottom:10px;
}
.pagecontainer 
{
    width:70%;
    background-color: gainsboro;
    color: gray;
    line-height: 25px;
    font-size: 20px;
}
.sidebar{
    width:250px;
    background-color: orange;

}
.footer
{
    background-color: black;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    
}
.flex
{
    display: flex;
    justify-content: space-evenly;
}
.teammember
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-align: center;
    box-shadow: 2px 2px 10px gray;
    padding:25px;
}
.membername
{
font-size:25px;
color:orangered;
}
.designation
{
    font-size:15px;
}